:root {
    --primary-color: rgb(237, 254, 236);
    --secondary-color: rgb(193, 212, 176);
    --tertiary-color: rgb(242, 247, 202);
    --quaternary-color: rgb(190, 208, 159);
    --accent-color: rgb(229, 115, 97);
    --decor-color:  rgb(231, 152, 136);
    --subfont-color: rgb(54, 72, 89);
    --dark-color: rgb(41, 41, 41);
    --light-color: rgb(255, 248, 240);
    --decor-value: 231, 152, 136;
    --dark-rgb-value: 41, 41, 41;
    --boxshadow-dark: rgb(21, 21, 21);

    --gradient-color: linear-gradient(90deg, var(--decor-color), var(--accent-color));
  }

  body.dark {
    --primary-color: rgb(31, 32, 30);
    --secondary-color: rgb(52, 51, 50);
    --tertiary-color: rgb(32, 34, 28);
    --quaternary-color: rgb(42, 45, 38);
    --accent-color: rgb(229, 115, 97);
    --decor-color: rgb(231, 152, 136);
    --subfont-color: rgb(236, 234, 233);
    --dark-color: rgb(255, 248, 240);
    --light-color: rgb(41, 41, 41);
    --decor-value: 231, 152, 136;
    --dark-rgb-value: 255, 248, 240;
    --boxshadow-dark: rgb(255, 248, 240);
  }