@media screen and (min-width: 768px) {
    .menu {
      background-color: transparent;
      display: none;
    }
    .navbar ul{
      background: transparent;
      box-shadow: none;
      position: fixed;
      min-width: auto;
      display: flex;
      padding: 16px 0px;
      margin-left: 60px;
      height: 15vh;
      transform: translate(0);
    }
    .navbar ul li a{
      padding: 0.7rem 1.5rem;
    }
    .header .ld-theme {
      margin: 0 0 0 auto;
      padding: 1.2rem;
      transition: all .2s ease-in-out;
    }
    .dark-part {
      display: none;
    }
}

@media all and (max-width:1375px) {
    .about-me-page {
      height: 180vh;
    }
    .am-header, .we-header {
      flex-direction: column;
    }
    .we-header {
      gap: 3rem;
    }
    .timeline-container {
      margin-top: 40vh;
    }
    .exp-container {
      margin-top: 1rem;
    }
    .work-experience-page {
      height: 200vh;
    }
    .timeline {
      margin-top: -20vh;
    }
}

@media screen and (max-width: 768px) {

  .work-experience-page {
    height: 175h;
  }

  .exp-container {
    max-width: 80vw;
  }
}

@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}

@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
  
@media screen and (max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
  margin: 1em 4em 0 4em;
}

}

  

  /* About Me Page */

@media screen and (max-width: 768px) {
  .about-text-container {
    width: 80%;
  }
  .section-container {
    flex-direction: column;
  }
  .title-container {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
}