/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  transition: color 0.25s ease-in-out, 
              background-color 0.5s ease-in-out, 
              background-image 0.5s ease-in-out, 
              box-shadow 0.5s ease-in-out, 
              text-decoration-color 0.25s ease-in-out;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

.no-scroll {
  overflow: hidden;
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

p, h1, h2, span{
  color: var(--dark-color);
}

p, h1, h2, span, a, img{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.starting-page {
  background-color: var(--primary-color);
}

/* PRELOADER */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #303636;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: height .625s cubic-bezier(.52,.11,.15,1), transform 0.3s linear;
}

.loader-wrapper-hidden {
  height: 0%;
  transform: translateY(-45px);
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loading 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loading-inner 2s infinite ease;
}

@keyframes loading {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loading-inner {
  0% {height: 0%;}
  25% {height: 0%;}
  50% {height: 100%;}
  75% {height: 100%;}
  100% {height: 0%;}
}

/* LIGHT & DARK MODE */

.toggle {
  position: fixed;
  height: 10px;
  width: 40px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: -6px -6px 24px hsl(234, 48%, 98%),
              6px 6px 24px hsl(234, 48%, 88%),
              inset 6px 6px 24px hsl(234, 48%, 98%),
              inset -6px -6px 24px hsl(234, 48%, 88%);
  appearance: none;
  transition: transform 0.25s ease;
  z-index: 5;
}

.toggle:hover {
  box-shadow: 6px 6px 24px hsl(234, 48%, 98%),
              -6px -6px 24px hsl(234, 48%, 88%),
              inset -6px -6px 24px hsl(234, 48%, 98%),
              inset 6px 6px 24px hsl(234, 48%, 88%);
  transform: scale(.95)
}

.toggle:active {
  transform: scale(.9)
}

.toggle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 4px solid #fff;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.toggle.dark::before {
  left: calc(100% - 23px);
  background-color: var(--secondary-color);
  border-color: #fff;
}


/* NAVIGATION BAR */

.container {
  max-width: 90%;
  margin: auto;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  text-decoration-color: var(--accent-color);
}

.menu {
  position: fixed;
  right: 2rem;
  top: 1.5rem;
  cursor: pointer;
  width: 33px;
  height: 33px;
  color: var(--decor-color);
  z-index: 5;
}

.navbar ul{
  background: var(--secondary-color);
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0;
  min-width: 300px;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  z-index: 9;
  
}

.navbar ul li a {
  padding: 1.2rem 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.header .ld-theme {
  padding: 1.2rem 1rem;
  margin: 0 auto 0 0;
  transition: all .2s ease-in-out;
}

.navbar ul li a:hover, .navbar ul li a.active{
  text-decoration: underline;
  text-underline-offset: .5vh;
  color: var(--accent-color);
}

.navbar ul li a:active{
  transform: scale(.95)
}

.header.active .navbar ul {
  transform: translate(0);
}

.dark-part {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  filter: blur(5px);
}

.header.active .dark-part {
  opacity: 1;
  pointer-events: auto;
}

/* PROFILE SECTION */
.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 80%;
  margin: 0 auto;
}

.profile-text-container {
  pointer-events: none;
  word-wrap: normal;
  text-wrap: pretty;
  align-self: center;
  text-align: center;
  padding-bottom: 3vmin;
}

.profile-text1 {
  font-size: 2vmin;
  letter-spacing: 1px;
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: var(--subfont-color);
}

.profile-title {
  font-size: 12vmin;
  letter-spacing: 1px;
  display: block;
  font-weight: 700;
}

.profile-text2 {
  width: 60vw;
  margin: auto;
  font-size: 1.9vmin;
  letter-spacing: 1px;
  display: block;
  font-weight: 400;
  text-wrap: pretty;
  color: var(--subfont-color);
  line-height: 3vmin;
}

.profile-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  cursor: pointer;
  margin: 0 auto;
  padding-bottom: 0.5vmin;
}

.indiv-char {
  font-style: italic;
}

/* PROFILE BUTTON */

/* Button General */
.button {
  position: relative;
  transition: transform 0.4s cubic-bezier(0.65,0,.076,1);
}

.prof-btn1, .prof-btn2 {
  position: relative;
  background: var(--gradient-color);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid var(--dark-color);
  color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
}

.btn-text {
  color: rgb(41, 41, 41);
  font-weight: 400;
}

.btn-icon {
  font-size: 1.5rem;
}

.btn-text, .btn-icon {
  position: relative;
  z-index: 2;
}

/* Reflection shapes */
.button-reflection1, .button-reflection2 {
  width: 8px;
  height: 120px;
  background-color: var(--decor-color);
  opacity: 0.8;
  transform: rotate(30deg);
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button-reflection1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--decor-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button-reflection2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--decor-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

/* Moving geometric shapes */
.button img {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-filter: invert(0);
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(98%) contrast(101%);
  transition: transform .5s, opacity .5s;
}

.button img.dark {
  -webkit-filter: invert(1);
  filter: invert(94%) sepia(100%) saturate(2%) hue-rotate(167deg) brightness(109%) contrast(101%);
}

.button__star-1 {
  width:20px;
  top: -14px;
  left: -16px;
  transform: rotate(48deg);
}

.button__star-2 {
  width: 40px;
  right: -10px;
  top: -4px;
  transform: rotate(-48deg) scale(.1);
}

.button__circle-1, 
.button__circle-2 {
  width: 8px;
}

.button__circle-1 {
  top: -8px;
  left: 58px;
  transform: scale(.1);
}

.button__circle-2 {
  right: 34px;
  bottom: -8px;
  transform: scale(.1);
}

.button__diamond {
  width: 18px;
  top: -18px;
  right: 62px;
  transform: scale(.1);
}

.button__triangle {
  width: 30px;
  left: 15px;
  bottom: -16px;
  transform: rotate(-48deg) scale(.1);
}

/* Gradient shadow */
.button-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gradient-color);
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 2px solid var(--dark-color);
  z-index: -1;
  transition: transform .3s;
}

/* View shadow gradient */
.button:hover .button-shadow {
  transform: translate(-0.3rem, 0.3rem);
}

/* Move reflection */
.button:hover .button-reflection1 {
  left: 120%;
}

.button:hover .button-reflection2 {
  left: -70%;
}

/* View geometric shapes */
.button:hover {
  transform: rotate(-4deg) scale(1.1);
}

.button:active {
  transform: scale(1);
}

.button:hover img {
  opacity: 1;
}

.button:hover .button__star-1 {
  transform: scale(1.1);
  transition-delay: .1s;
}

.button:hover .button__star-2 {
  transform: scale(1.1);
}

.button:hover .button__circle-1 {
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.button:hover .button__circle-2 {
  transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button__diamond {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.button:hover .button__triangle {
  transform: rotate(-12deg) scale(1.1);
}

/* Down Arrow */
.down-arrow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wavy-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wavy-scroll span {
  margin: 0 2px;
  font-size: 1.4vmin;
  animation: wavy 5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  color: var(--dark-color);
}

@keyframes wavy {
  0% {transform: translateY(0px);}
  6% {transform: translateY(-6px);}
  12% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}

.down-arrow {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  transition: filter .25s ease-in-out;
  animation: bounce .6s linear infinite alternate;
}

.down-arrow.dark {
  -webkit-filter: invert(1);
  filter: invert(94%) sepia(100%) saturate(2%) hue-rotate(167deg) brightness(109%) contrast(101%);
}

@keyframes bounce {
  0% {transform: translateY(0px);}
  10% {transform: translateY(0.1px);}
  20% {transform: translateY(0.4px);}
  30% {transform: translateY(0.9px);}
  40% {transform: translateY(1.6px);}
  50% {transform: translateY(2.5px);}
  60% {transform: translateY(3.6px);}
  70% {transform: translateY(4.9px);}
  80% {transform: translateY(6.4px);}
  90% {transform: translateY(8.1px);}
  100% {transform: translateY(10.0px);}
}

/* page inter-section curves */
.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-curve-1 {
  background-image: url('/assets/wave-transition-1.svg');
}

.trans-curve-1.dark {
  background-image: url('/assets/wave-transition-2.svg');
}

.about-me-page {
  background-color: var(--secondary-color);
}

.am-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 82%;
  justify-content: center;
  gap: 10vw;
  padding: 1rem 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 20vh;
  width: 30vw;
}

.title-text {
  font-size: 4vw;
  letter-spacing: 1px;
  line-height: 7.5vmin;
  font-weight: 600;
}

.em {
  font-size: 2.25vw;
}

.body-text {
  font-size: 1rem;
  width: 50vmin;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  line-height: 1.5rem;
}

.profile-pic {
  width: 30vmin;
  height: 30vmin;
}

.ring-wrapper {
  position: relative;
  top: 6vh;
}

.prof-slider-wrapper {
  position: relative;
  max-width: 30vmin;
  margin: 0 auto;
}

.prof-slider {
  display: flex;
  aspect-ratio: 1/1;
  overflow: auto;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -.75rem rgba(var(--dark-rgb-value), 0.25);
  border-radius: 5vmin;
}

.prof-slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a:active {
  transform: scale(0.9);
}

.prof-slider-wrapper p {
  font-style: italic;
  font-size: .8rem;
  position: absolute;
  left: 43%;
  margin-top: .5rem;
}

/* Ring around img */
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring .rot-ring {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring .rot-ring:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring .rot-ring:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring .rot-ring:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover .rot-ring {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Learn more button */
.lm-container {
  position: relative;
  height: 2rem;
}
.lm-container a {
  position: absolute;
  border: 0;
  display: inline-block;
  width: 10rem;
  height: auto;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  background: transparent;
}

.lm-text {
  font-size: .9rem;
  font-weight: 500;
  position: absolute;
  inset: 0;
  margin-left: 1.7rem;
  padding: 0.8125rem 0;
  color: var(--dark-color);
  line-height: .3;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.65,0,.076,1);
}

.lm-circle {
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: var(--dark-color);
  border-radius: 1.625rem;
  transition: all 0.4s cubic-bezier(0.65,0,.076,1);
}

.lm-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.lm-arrow {
  left: 0.4rem;
  width: .8rem;
  height: .125rem;
  border-radius: 0.0625rem;
  background: none;
  transition: all 0.4s cubic-bezier(0.65,0,.076,1);
}

.lm-arrow::before {
  content: "";
  position: absolute;
  top: -.23rem;
  right: 0rem;
  width: 0.4rem;
  height: 0.4rem;
  border-top: 0.125rem solid var(--primary-color);
  border-right: 0.125rem solid var(--primary-color);
  border-radius: 0.0625rem;
  transform: rotate(45deg);
  transition: border-top 0.5s ease-in-out, border-right 0.5s ease-in-out;
}

.lm-btn:hover .lm-circle {
  width: 100%;
}

.lm-btn:hover .lm-arrow {
  background: var(--primary-color);
  transform: translateX(1rem);
}

.lm-btn:hover .lm-text {
  color: var(--primary-color);
}

/* Social Media Tab Buttons */
.social-media {
  position: relative;
  margin-left: -5px;
}

.sm-wrapper .sm-button{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.sm-wrapper .sm-button.github:hover{
  width: 130px;
}
.sm-wrapper .sm-button.linkedin:hover{
  width: 148px;
}
.sm-wrapper .sm-button.insta:hover{
  width: 160px;
}
.sm-wrapper .sm-button.email:hover{
  width: 130px;
}
.sm-wrapper .sm-button .sm-icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.sm-wrapper .sm-button.github:hover .sm-icon{
  background: rgb(13, 17, 23);
}
.sm-wrapper .sm-button.linkedin:hover .sm-icon{
  background: rgb(7, 98, 200);
}
.sm-wrapper .sm-button.insta:hover .sm-icon{
  background: rgb(214, 41, 118);
}
.sm-wrapper .sm-button.email:hover .sm-icon{
  background: rgb(0, 79, 159);
}
.sm-wrapper .sm-button .sm-icon i{
  color: #000;
  font-size: 18px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.sm-wrapper .sm-button:hover .sm-icon i{
  color: #fff;
}
.sm-wrapper .sm-button span{
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.sm-wrapper .sm-button.github span{
  color: rgb(13, 17, 23);
}
.sm-wrapper .sm-button.linkedin span{
  color: rgb(7, 98, 200);
}
.sm-wrapper .sm-button.insta span{
  color: rgb(214, 41, 118);
}
.sm-wrapper .sm-button.email span{
  color: rgb(0, 79, 159);
}

/* Wave Transition 2*/

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-curve-2 {
  background-image: url('/assets/wave-transition-3.svg');
}

.trans-curve-2.dark {
  background-image: url('/assets/wave-transition-4.svg');
}

/* Work Experience Page Starts*/

.work-experience-page {
  background-color: var(--tertiary-color);
  height: 100vh;
}

.we-header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-items: center;
  height: 84%;
  justify-content: center;
  padding: 1rem 0;
}

.we-header.container {
  max-width: 95%;
}

/* Timeline */
.timeline-container {
  width: 800px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -2.1px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1.5em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 375px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 375px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  color: rgb(41, 41, 41);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag, .direction-l .time {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag, .direction-r .time {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -35.5px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid var(--accent-color);
  z-index: 10;
}

.direction-r .flag:before {
  left: -34.5px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
  border-radius: .125em;
  color: rgb(41, 41, 41);
}

.desc {
  margin: 1em 0.75em 0 0;
  color: var(--subfont-color);
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* Experience Text Section */

.exp-container {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  gap: .5rem;
  margin-top: 15vh;
  padding: 1rem;
}

.exp-title {
  width: 20vw;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 7.5vmin;
  font-weight: 600;
  text-align: left;
}

.em-muscle {
  font-size: 1.6rem;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.exp-body-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.exp-body-text p span {
  font-style: italic;
}

.exp-btn-container {
  margin-bottom: .25rem;
}

.last-updated {
  font-size: .7rem;
}

/* Wave Transition */

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trans-curve-3 {
  background-image: url('/assets/wave-transition-5.svg');
}

.trans-curve-3.dark {
  background-image: url('/assets/wave-transition-6.svg');
}

/* End Starts */
.page-end {
  background-color: var(--quaternary-color);
  height: 100vh;
}

.ct-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  height: 90%;
  justify-content: center;
  padding: 1rem 0;
}

/* Contact Form */
.contact-container {
  display: flex;
  align-items: center;
  height: 77vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-form h2 {
  font-weight: 600;
  color: var(--dark-color);
  font-size: 3rem;
  margin-bottom: 5px;
}

.contact-form hr {
  border: none;
  width: 10vw;
  height: 5px;
  background-color: var(--dark-color);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease-in-out;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  font-size: .9rem;
  background: rgba(255, 255, 255, 0.8);
  color: var(--subfont-color);
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s ease-in-out,
              transform 0.25s ease-out,
              box-shadow 0.25s ease-out;
}

input, select, textarea{
  color: #000;
}

textarea:focus, input:focus {
  color: #000;
}

.contact-inputs:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.01);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.contact-container textarea {
  height: 140px;
  min-height: 100px;
  padding-top: 15px;
  resize: none;
}

.contact-inputs::placeholder {
  color: rgba(38, 38, 38, 0.5);
  transition: color 0.5s ease-in-out;
}

.contact-button{
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid var(--accent-color);
  background: rgba(255, 255, 255,0.8);
  color: var(--accent-color);
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .25s ease-in-out;
}

.contact-button:hover{
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
  transition: all .25s ease-in-out;
}

.contact-button span{
  color: rgb(38, 38, 38);
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .25s ease-in-out;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: center;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .25s ease-in-out;
}

.contact-button.is_active{
  width: 40px;
  left: 180px;
  height: 40px;
}

.contact-button.is_active .success{
  opacity: 1;
  visibility: visible;
}

.contact-button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

.contact-button.is_active span{
  opacity: 0;
  visibility: hidden;
}

/* Scroll to Top */
.backtotop-wrapper {
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.backtotop {
  display: grid;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  border: 1.25px solid var(--accent-color);
  background-color: transparent;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2.5rem;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: var(--accent-color);
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
              background-color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1), 
              box-shadow .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  margin-bottom: 3vh;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.backtotop:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: var(--accent-color);
  border: 1.5px solid var(--decor-color);
  box-shadow: 0px 10px 16px 1.25px rgba(var(--dark-rgb-value), .25);
}

.backtotop:active {
  transform: scale(1.01);
  box-shadow: 0px 5px 8px .5px rgba(var(--dark-rgb-value), .25);
}

/* Copyrights */
footer {
  height: 5vh;
  margin-top: -5vh;
}

footer p {
  font-size: 1.2vmin;
  text-align: center;
  pointer-events: none;
}

/* Scroll into View Animations */
.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Element-wise Animation */
.profile-text-wrapper.hiddenstay {
  transform: translateY(0);
  filter: blur(.125px);
  transition: all 1.25s;
  opacity: 0;
}
.profile-text-wrapper.show {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}

.profile-text-wrapper:nth-child(1) {
  transition-delay: 1500ms;
}
.profile-text-wrapper:nth-child(2) {
  transition-delay: 2500ms;
}

.second-anim.hiddenstay {
  transform: translateY(50%);
  filter: blur(.125px);
  transition: all .5s ease-out;
  opacity: 0;
}
.second-anim.show {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}

.second-anim.profile-text-wrapper {
  transition-delay: 3600ms;
}
.second-anim.button {
  transition-delay: 3900ms;
}

.wavy-scroll span.hiddenstay {
  transition: all .5s ease-out;
  opacity: 0;
}
.wavy-scroll span.show {
  opacity: 1;
}

.down-arrow.hiddenstay {
  transition: all 1.5s ease-out;
  opacity: 0;
}

.down-arrow.show {
  opacity: 1;
}

.wavy-scroll span:nth-child(1) {
  transition-delay: 4600ms;
}
.wavy-scroll span:nth-child(2) {
  transition-delay: 4800ms;
}
.wavy-scroll span:nth-child(3) {
  transition-delay: 5000ms;
}
.wavy-scroll span:nth-child(4) {
  transition-delay: 5200ms;
}
.wavy-scroll span:nth-child(5) {
  transition-delay: 5400ms;
}
.wavy-scroll span:nth-child(6) {
  transition-delay: 5600ms;
}

.down-arrow.hiddenstay {
  transition-delay: 5800ms;
}

.ring.hidden {
  transform: translateX(0);
  filter: blur(.5px);
  transition: all 1.25s;
  opacity: 0;
  transition-delay: 500ms;
}
.ring.show {
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}

.bmp.para:nth-child(2) {
  transition-delay: 200ms;
}
.bmp.para:nth-child(3){
  transition-delay: 400ms;
}
.bmp.para:nth-child(4){
  transition-delay: 80ms;
}
.bmp.para:nth-child(5){
  transition-delay: 800ms;
}

.timeline.hidden {
  transform: translateY(20%);
  transition-delay: 500ms;
}

.timeline.show {
  transform: translateY(0);
}

.exp-title.hidden, .exp-body-text .hidden, .lm-container.exp-btn-container.hidden, .last-updated.hidden {
  transform: translateX(20%);
}

.exp-title.show, .exp-body-text .show, .lm-container.exp-btn-container.show, .last-updated.show {
  transform: translateX(0);
}


/* ========================== */